:root {
  --stroke-width: 1px; /* 默认描边厚度 */
}

body {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-color: green;
}

#tip_aera {
  position: absolute;
  left: 50%;
  transform: translateX(-50%)translateY(-150px);
  top: 5%;
  height: 50px;
  width: 960px;
  background: white;
  border: 5px solid pink;
  padding: 5px;
  border-radius: 50px;
  transition: transform 0.5s ease-in-out;
}

#tip_icon {
  position: relative;
  left: 2.5%;
  width: 45px;
  height: 45px;
  /* background: url('../src/avatar.png') no-repeat center; */
  /* background-size: cover; */
  border: 4px dashed pink;
  border-radius: 25px;
}

#tip_text {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  font-size: 50px;
  color: #ffffff;
  font-family: '小赖字体 SC';
  -webkit-text-stroke: 0.3px rgb(251, 177, 177);
  font-weight: 1000;
}

#subtitle {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 75px;
  color: #ffffff;
  font-family: '小赖字体 SC';
  -webkit-text-stroke: 0.3px rgb(251, 177, 177);
  font-weight: 1000;
}

#colorPicker {
  margin-top: 200px;
}